*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #e0e0e0;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

article,header,footer,.main,section{
	display: block;	
}

a{
	text-decoration: none;
}

header,header a:link,header a:visited{
	color: #fff;
}

.container{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 1030px;
	height: 130px;
	padding: 30px 45px;
	background-color: #333;
}

.left{
	float: left;
}

.right{
	float: right;
}


.header-qrcode{
	width: 130px;
	height: 130px;
}
.header-qrcode img{
	width: 100%;
}

.title h1{
	font-size: 72px;
	padding: 5px 0;
}

.title h2{
	font-size: 20px;
}

.title h1,.title h2{
	margin: 5px 0;
	line-height: 1
}

address{
	margin-left:15px;
}

address ul{
	list-style-type: none;
}

address ul li{
	padding: 4px 4px 4px 28px;
}

.content-email:before{

}

.content-wechat:before{
	
}

.content-weibo:before{
	
}

.content-github:before{
	
}

.content-blog:before{
	
}